body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  color: #057B71!important;
  background-color:#FEC954;
  border: solid #057B71;
  border-radius: 12px;
  font-size: 24px;
  transition-duration: 0.4s;
  padding-top: 10px;
}

.htmlcssjs {
  margin-left: ;
}

.name-title {
    margin-top: 95px;
    margin-left: 25px;
}

.tech-icons {
  margin-top: 135px;
}

.jquery {
  margin-right: ;
}

.rails {
  margin-top: ;
  margin-left: ;
}

.contact {
  color: #297519;
}

.contact-info {

  display: none;
  background-color:#fff;
  border-radius:10px 10px 10px 10px;
  box-shadow:0 0 25px 5px #999;
  width: 300px;
  color:#111;
  padding:25px;
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
  font-size: 50px;
}

.ruby-projects {
  margin-top: 35px;
  display: none;
  opacity: .8;
  color: white;
}

.rails-projects {
  margin-top: 35px;
  display: none;
  opacity: .8;
  color: white;
}
.projects {
  color: #E4E536;
}

.projects-ii {
  color: #297519;
}

.contact-info-top {
  color: #E4E536;
}

.pop-ups {
  padding-top: 30px;
  font-family: 'Ranga', cursive;
}
